<%-include('cabecalho.ejs')%>
    <form method="POST">
      Nome: <input type="text" name="txtNome" placeholder="Nome" /> 
      Idade:<input type="text" name="txtIdade" placeholder="Idade" />
      <input type="submit" name="Adicionar" />
    </form>
<%-include('rodape.ejs')%>

