<%-include('cabecalho.ejs')%>
<form method="POST">
  Moeda: <input type="text" name="txtNome" placeholder="Moeda..." class="txtCor" /> <br><br>
  Alta: <input type="text" name="txtIdade" placeholder="Alta..." class="txtCor" /> <br> <br>
  Baixa: <input type="text" name="txtIdade" placeholder="Alta..." class="txtCor" /> <br> <br>
  <input type="submit" name="Adicionar" value="Adicionar" class="btn btn-primary"/> <br><br>
</form>
<%-include('rodape.ejs')%>
