<%-include('cabecalho.ejs')%>
<form method="POST">
  Nome: <input type="text" name="txtNome" placeholder="Nome" /> <br><br>
  Idade: <input type="text" name="txtIdade" placeholder="Idade" /> <br> <br>
  <input type="submit" name="Adicionar" value="Adicionar" class="btn btn-primary"/> <br><br>
</form>
<%-include('rodape.ejs')%>
