<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      Id: <input type="text" name="txtId" readonly value="<%=Usuario._id%> ">
      Nome: <input type="text" name="txtNome" placeholder="Nome" value="<%=Usuario.nome%>"/>
      Idade:<input type="text" name="txtIdade" placeholder="Idade" value="<%=Usuario.idade%>"> <br>
      <input type="submit" name="Adicionar" />
    </form>
  </body>
</html>
